body{
   background-image: url(img/px.jpg);
}


.questao1{
    
    
    
    margin-top: 60px;
    color: #ffff;
    flex-direction: column;
    align-items: center;
    background-image: url(img/lvvv.jpg);
    background-repeat: no-repeat;
    font-size: 35px;
    border-radius: 115px;
    width: 1281px;
    height: 470px;
    padding: 35px; 
}
a {
    display: block;    
    font-size: 28px;
    text-transform: uppercase;
    font-weight: bold;
    color: #ffff;
    cursor: pointer;
    align-items: center;
    width: 1255px;
    height: 30px;
    border-radius: 100px;
            
}
.questao2{
    margin-top: 60px;
    color: #ffff;
    flex-direction: column;
    align-items: center;
    background-image: url(img/super.jpg);
    
    background-repeat: no-repeat;
    font-size: 35px;
    border-radius: 115px;
    width: 1281px;
    height: 470px;
    padding: 35px; 
}
.questao3{
    margin-top: 60px;
    color: #ffff;
    flex-direction: column;
    align-items: center;
    background-image: url(img/lj.jpg);
    background-repeat: no-repeat;
    font-size: 35px;
    border-radius: 115px;
    width: 1281px;
    height: 470px;
    padding: 35px; 
}
.questao4{
    margin-top: 60px;
    color: #ffff;
    flex-direction: column;
    align-items: center;
    background-image: url(img/btm.jpg);
    background-repeat: no-repeat;
    font-size: 35px;
    border-radius: 115px;
    width: 1281px;
    height: 470px;
    padding: 35px; 
}
.questao5{
    margin-top: 60px;
    color: #ffff;
    flex-direction: column;
    align-items: center;
    background-image: url(img/sf.jpg);
    background-repeat: no-repeat;
    font-size: 35px;
    border-radius: 115px;
    width: 1281px;
    height: 470px;
    padding: 35px; 
}
.questao6{
    margin-top: 60px;
    color: #ffff;
    flex-direction: column;
    align-items: center;
    background-image: url(img/tta.jpg);
    background-size: 1355px;
    background-repeat: no-repeat;
    font-size: 35px;
    border-radius: 115px;
    width: 1281px;
    height: 470px;
    padding: 35px; 
}
.questao7{
    margin-top: 60px;
    color: #ffff;
    flex-direction: column;
    align-items: center;
    background-image: url(img/th.webp);
    background-size: 1355px;
    background-repeat: no-repeat;
    font-size: 35px;
    border-radius: 115px;
    width: 1281px;
    height: 470px;
    padding: 35px; 
}
.questao8{
    margin-top: 60px;
    color: #ffff;
    flex-direction: column;
    align-items: center;
    background-image: url(img/pn.jpg);
    background-size: 1355px;
    background-repeat: no-repeat;
    font-size: 35px;
    border-radius: 115px;
    width: 1281px;
    height: 470px;
    padding: 35px; 
}
.questao9{
    margin-top: 60px;
    color: #ffff;
    flex-direction: column;
    align-items: center;
    background-image: url(img/haaa.jpeg);
    background-size: 1350px;
    background-repeat: no-repeat;
    font-size: 35px;
    border-radius: 115px;
    width: 1281px;
    height: 470px;
    padding: 35px; 
}
.questao10{
    margin-top: 60px;
    color: #ffff;
    flex-direction: column;
    align-items: center;
    background-image: url(img/vg.jpg);
    background-size: 1355px;
    background-repeat: no-repeat;
    font-size: 35px;
    border-radius: 115px;
    width: 1281px;
    height: 470px;
    padding: 35px; 
}
    /* Organização da página */
    div{
        
        margin-bottom: 100%;
    }
    .espacamento{
        margin-top:1100px;
    }
    
    html {
        scroll-behavior: inherit;
        
    }