body{
   background-image: url(img/px.jpg);
}

form [type="submit"]{
    display: block;
    background-color: #0772EB;
    font-size: 28px;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    color: #ffff;
    cursor: pointer;
    margin-top: 40px;  
}

h1{
    margin-top: 110px;
    display: block;
    background-color: red;
    width: 390px;
    font-size: 28px;
    color: #ffff;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    border-radius: 8px;
    font-family: Arial, Helvetica, sans-serif;
}

.teste{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(img/dcc.jpg);
    border-radius: 115px;
    width: 755px;
    height: 420px;
    padding: 85px;    
}

form [type="text"]{
    align-items: center;
    width: 250px;
    padding: 5px;
    margin-top:20px;
}

.questao1{
    text-align: left;
    margin-top: 60px;
    color: #ffff;
    flex-direction: column;
    align-items: center;
    background-image: url(img/lvvv.jpg);
    background-repeat: no-repeat;
    font-size: 35px;
    border-radius: 115px;
    width: 1281px;
    height: 470px;
    padding: 35px; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    scroll-behavior: smooth;
}

a{
    background-color: red;
    color: #ffff;
    text-decoration: none;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 25px;
    padding-right: 15px;
    padding-left: 15px;
    position: static;
    text-align: justify;
    border-radius: 50px;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
               
}

.questao2{
    margin-top: 60px;
    color: #ffff;
    flex-direction: column;
    align-items: center;
    background-image: url(img/super.jpg);
    text-align: left;
    background-repeat: no-repeat;
    font-size: 35px;
    border-radius: 115px;
    width: 1281px;
    height: 470px;
    padding: 35px; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    scroll-behavior: smooth;
}

.questao3{
    text-align: left;
    margin-top: 60px;
    color: #ffff;
    flex-direction: column;
    align-items: center;
    background-image: url(img/cg.jpg);
    background-repeat: no-repeat;
    font-size: 35px;
    border-radius: 115px;
    width: 1281px;
    height: 470px;
    padding: 35px; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    scroll-behavior: smooth;
}

.questao4{
    text-align: left;
    margin-top: 60px;
    color: #ffff;
    flex-direction: column;
    align-items: center;
    background-image: url(img/btm.jpg);
    background-repeat: no-repeat;
    font-size: 35px;
    border-radius: 115px;
    width: 1281px;
    height: 470px;
    padding: 35px; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    scroll-behavior: smooth;
}

.questao5{
    text-align: left;
    margin-top: 60px;
    color: #ffff;
    flex-direction: column;
    align-items: center;
    background-image: url(img/sf.jpg);
    background-repeat: no-repeat;
    font-size: 35px;
    border-radius: 115px;
    width: 1281px;
    height: 470px;
    padding: 35px; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    scroll-behavior: smooth;
}

.questao6{
    text-align: left;
    margin-top: 60px;
    color: #ffff;
    flex-direction: column;
    align-items: center;
    background-image: url(img/tta.jpg);
    background-size: 1355px;
    background-repeat: no-repeat;
    font-size: 35px;
    border-radius: 115px;
    width: 1281px;
    height: 470px;
    padding: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    scroll-behavior: smooth;
}

.questao7{
    text-align: left;
    margin-top: 60px;
    color: #ffff;
    flex-direction: column;
    align-items: center;
    background-image: url(img/th.webp);
    background-size: 1355px;
    background-repeat: no-repeat;
    font-size: 35px;
    border-radius: 115px;
    width: 1281px;
    height: 470px;
    padding: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    scroll-behavior: smooth;
}

.questao8{
    text-align: left;
    margin-top: 60px;
    color: #ffff;
    flex-direction: column;
    align-items: center;
    background-image: url(img/pn.jpg);
    background-size: 1355px;
    background-repeat: no-repeat;
    font-size: 35px;
    border-radius: 115px;
    width: 1281px;
    height: 470px;
    padding: 35px; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    scroll-behavior: smooth;
}

.questao9{
    text-align: left;
    margin-top: 60px;
    color: #ffff;
    flex-direction: column;
    align-items: center;
    background-image: url(img/haaa.jpeg);
    background-size: 1350px;
    background-repeat: no-repeat;
    font-size: 35px;
    border-radius: 115px;
    width: 1281px;
    height: 470px;
    padding: 35px; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    scroll-behavior: smooth;
}

.questao10{
    text-align: left;
    margin-top: 60px;
    color: #ffff;
    flex-direction: column;
    align-items: center;
    background-image: url(img/vgg.jpg);
    background-size: 1355px;
    background-repeat: no-repeat;
    font-size: 35px;
    border-radius: 115px;
    width: 1281px;
    height: 470px;
    padding: 35px; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    scroll-behavior: smooth;
}

.resultado{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:  #0772EB;
    border-radius: 105px;
    width: 355px;
    height: 150px;
    padding: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #ffff;
    
}

a[href="#questao1"]{
    background-color: red;
    width: 90px;
    left:50%;
    top:50%;
    text-align: center;
    margin-top:10px;
}

    /* Organização da página */
    div{
        
        margin-bottom: 100%;
    }
    .espacamento{
        margin-top:1100px;
    }
    
    html {
        overflow: hidden;
    }